server {
  server_name www.cetraria.local;
  return 301 $scheme://cetraria.local$request_uri;
}

server {
  listen 80;

  server_name cetraria.local;
  server_tokens on;

  client_max_body_size 128M;
  charset              utf-8;

  set $root_path "/srv/http/cetraria.local/public";
  set $bootstrap "index.php";

  rewrite_log on;

  error_log  /srv/http/cetraria.local/var/logs/nginx.main.error.log;
  access_log /srv/http/cetraria.local/var/logs/nginx.main.access.log main buffer=50k;

  index $bootstrap;
  root $root_path;

  try_files $uri $uri/ @rewrite;

  location @rewrite {
    rewrite ^/(.*)$ /$bootstrap?_url=/$1 last;
  }

  location ~ \.php$ {
    try_files $uri =404;

    fastcgi_split_path_info ^(.+\.php)(/.+)$;

    fastcgi_pass php;
    fastcgi_param   SCRIPT_FILENAME  $document_root$fastcgi_script_name;
    fastcgi_param   PATH_INFO        $fastcgi_path_info;
    fastcgi_param   PATH_TRANSLATED  $document_root$fastcgi_path_info;
    fastcgi_param   HTTP_REFERER     $http_referer;
    # production | development | staging | testing
    fastcgi_param   APP_ENV development;
    fastcgi_buffers 16 16k;
    fastcgi_buffer_size 32k;

    include fastcgi_params;
  }
}
