upstream cetraria {
  server unix:/var/run/php5-fpm.sock;
}

server {
  server_name www.cetraria.local;
  return 301 $scheme://cetraria.local$request_uri;
}

server {
  listen 80;

  # URL
  server_name cetraria.local;
  server_tokens on; # On production off

  client_max_body_size 128M;
  charset              utf-8;

  rewrite_log on;

  # Set the path to the logs do buffering for access log
  error_log  /srv/http/cetraria.local/var/logs/nginx.main.error.log;
  access_log /srv/http/cetraria.local/var/logs/nginx.main.access.log main buffer=50k;

  # Entry point
  index index.php;

  # Site public root
  root /srv/http/cetraria.local/public;

  # Better website experience for IE users
  add_header X-UA-Compatible "IE=Edge,chrome=1";

  # Deny showing resource into iframe
  add_header X-Frame-Options DENY;

  # Disable autodetect Content-Type for IE users
  add_header X-Content-Type-Options nosniff;

  # Activates the built-XSS-defense for IE users
  add_header X-XSS-Protection "1; mode=block;";

  # Disable logging for robots.txt
  location = /robots.txt  {
    access_log     off;
    log_subrequest off;
    log_not_found  off;
  }

  # Disable logging for favicon.ico
  location = /favicon.ico {
    access_log     off;
    log_subrequest off;
    log_not_found  off;
  }

  # Disable logging for sitemap.xml
  location = /sitemap.xml {
    access_log     off;
    log_subrequest off;
    log_not_found  off;
  }

  # Blocking access to all the hidden files, (.htaccess, .git, .svn etc.)
  location ~ /\. {
    return 403;
  }

  # Routing to site if required
  location / {
    # Complicate life for script kiddies
    if ($http_user_agent ~* (nmap|nikto|wikto|sf|sqlmap|bsqlbf|w3af|acunetix|havij|appscan)) {
          return 403;
    }

    index index.php;
    try_files $uri $uri/ @rewrite;
  }

  location @rewrite {
    rewrite ^/(.*)$ /index.php?_url=/$1 last;
  }

  location ~ \.php$ {
    try_files $uri =404;

    fastcgi_split_path_info ^(.+\.php)(/.+)$;

    fastcgi_pass    cetraria;
    fastcgi_param   SCRIPT_FILENAME  $document_root$fastcgi_script_name;
    fastcgi_param   PATH_INFO        $fastcgi_path_info;
    fastcgi_param   PATH_TRANSLATED  $document_root$fastcgi_path_info;
    fastcgi_param   HTTP_REFERER     $http_referer;
    # production | development | staging | testing
    fastcgi_param   APP_ENV development;
    fastcgi_buffers 16 16k;
    fastcgi_buffer_size 32k;

    include fastcgi_params;
  }
}
