# PhpStorm
.idea/

# Composer
composer.lock
composer.phar
vendor/

# Application environment variables
.env

# App config
/config/development.php
/config/config.php

# Nginx config
/config/nginx/development.conf
/config/nginx/production.conf

# Phalcon Developer Tools
public/webtools.config.php
public/webtools.php
