<?php

/*
 +------------------------------------------------------------------------+
 | Cetraria                                                               |
 +------------------------------------------------------------------------+
 | Copyright (c) 2015 Serghei Iakovlev                                    |
 +------------------------------------------------------------------------+
 | This source file is subject to the New BSD License that is bundled     |
 | with this package in the file docs/LICENSE.txt.                        |
 |                                                                        |
 | If you did not receive a copy of the license and are unable to         |
 | obtain it through the world-wide-web, please send an email             |
 | to me@klay.me so I can send you a copy immediately.                    |
 +------------------------------------------------------------------------+
*/

use Phalcon\Logger\Adapter\File as FileLogger;
use Phalcon\Logger\Formatter\Line as FormatterLine;

$host      = explode('.', gethostname())[0];
$logFormat = ["%date% $host php: [%type%] %message%", 'D j H:i:s'];

return [
    'application' => [
        'appName'       => 'Cetraria',
        'appVersion'    => '0.0.1',
        'baseDir'       => getenv('BASE_DIR'),
        'migrationsDir' => getenv('BASE_DIR') . 'app/migrations/',
        'baseUri'       => getenv('BASE_URI'),
        'debug'         => true,
    ],
    'volt' => [
        'compiledExt'  => '.php',
        'separator'    => '_',
        'cacheDir'     => getenv('BASE_DIR') . 'var/cache/volt/',
        'forceCompile' => true,
    ],
    'modules' => [
        'user' => true,
    ],
    'logger' => [
        'path'    => getenv('BASE_DIR') . 'var/logs/',
        'format'  => $logFormat[0],
        'date'    => $logFormat[1]
    ],
    'error' => [
        'logger'     => new FileLogger(getenv('BASE_DIR') . 'var/logs/' . APPLICATION_ENV . '.error.log'),
        'formatter'  => new FormatterLine($logFormat[0], $logFormat[1]),
        'controller' => 'error',
        'action'     => 'index'
    ],
    'annotations' => [
        'adapter'        => 'Files',
        'annotationsDir' => getenv('BASE_DIR') . 'var/cache/annotations/',
    ],
    'cache' => [
        'adapter'  => 'File',
        'lifetime' => 1 * 60 * 60,
        'prefix'   => 'dara',
        'cacheDir' => getenv('BASE_DIR') . 'var/cache/data/'
    ],
    'database' => [
        'adapter'  => 'Postgresql',
        'host'     => 'localhost',
        'username' => 'cetraria',
        'password' => '********',
        'dbname'   => 'cetraria',
        'port'     => 5432,
        'schema'   => 'public',
    ],
    'metadata' => [
        'adapter'     => 'Files',
        'metaDataDir' => getenv('BASE_DIR') . 'var/cache/metadata/'
    ],
    'router' => [
        'cacheTtl' => 24 * 60 * 60
    ],
];
