<?php

use Phalcon\Logger\Adapter\File as FileLogger;
use Phalcon\Logger\Formatter\Line as FormatterLine;

$logFormat = ['[%date%][%type%] %message%', 'Y-m-d H:i:s O'];

return [
    'application' => [
        'baseDir' => getenv('BASE_DIR'),
        'baseUri' => getenv('BASE_URI'),
        'debug'   => true,
    ],
    'modules' => [
        'user' => true,
    ],
    'logger' => [
        'enabled' => true,
        'path'    => getenv('BASE_DIR') . 'var/logs/',
        'format'  => $logFormat[0],
        'date'    => $logFormat[1]
    ],
    'error' => [
        'logger'     => new FileLogger(getenv('BASE_DIR') . 'var/logs/' . APPLICATION_ENV . '.error.log'),
        'formatter'  => new FormatterLine($logFormat[0], $logFormat[1]),
        'controller' => 'error',
        'action'     => 'index'
    ],
    'annotations' => [
        'adapter'        => 'Files',
        'annotationsDir' => getenv('BASE_DIR') . 'var/cache/annotations/',
    ],
    'cache' => [
        'adapter' => 'Memcache'
    ],
];
