<?php

use Phalcon\Logger\Adapter\File as FileLogger;
use Phalcon\Logger\Formatter\Line as FormatterLine;

$host      = explode('.', gethostname())[0];
$logFormat = ["%date% $host php: [%type%] %message%", 'D j H:i:s'];

return [
    'application' => [
        'baseDir' => getenv('BASE_DIR'),
        'baseUri' => getenv('BASE_URI'),
        'debug'   => true,
    ],
    'volt' => [
        'compiledExt'  => '.php',
        'separator'    => '_',
        'cacheDir'     => getenv('BASE_DIR') . 'var/cache/volt/',
        'forceCompile' => true,
    ],
    'modules' => [
        'user' => true,
    ],
    'logger' => [
        'path'    => getenv('BASE_DIR') . 'var/logs/',
        'format'  => $logFormat[0],
        'date'    => $logFormat[1]
    ],
    'error' => [
        'logger'     => new FileLogger(getenv('BASE_DIR') . 'var/logs/' . APPLICATION_ENV . '.error.log'),
        'formatter'  => new FormatterLine($logFormat[0], $logFormat[1]),
        'controller' => 'error',
        'action'     => 'index'
    ],
    'annotations' => [
        'adapter'        => 'Files',
        'annotationsDir' => getenv('BASE_DIR') . 'var/cache/annotations/',
    ],
    'cache' => [
        'adapter'  => 'Memory',
        'lifetime' => 1 * 60 * 60,
    ],
    'database' => [
        'adapter'  => 'Postgresql',
        'host'     => 'localhost',
        'username' => 'cetraria',
        'password' => '********',
        'dbname'   => 'cetraria',
        'port'     => 5432,
        'schema'   => 'public',
    ],
    'metadata' => [
        'adapter'  => 'Memory',
    ],
    'router' => [
        'cacheTtl' => 24 * 60 * 60
    ],
];
